html{
      height: 100%;
}

body{
      height: 100%;
}

header{
      display: flex;
      flex-direction: row;
      max-height: 32px;
      width: 100%;
      background-color: rgb(18, 54, 90);
      color: white;
      justify-content: space-between;
}

.contato{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      
      font-size: 15px;
      font-style: normal;
      max-height: 32px;
      width: 100%;
      padding:0px 30px 0px 30px ;
}

.nav_margin{
      border-bottom: 1px solid lightgrey;
      width: 100%;
      display: flex;
      justify-content: center;
}

.orcamento_1{
      display: flex;
      flex-direction: row;
      background-image: url(imagens/primeira_imagem_de_capa.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 90%;
      align-items: center;
}

.text_orcamento{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 60%;
      color: white;
}

.text_orcamento h1{
      max-width: 55%;
      text-align: center;
}

.text_orcamento h3{
      text-align: center;
      max-width: 55%;
      font-size: 23px;
}

.text_orcamento button{
      background-color: #46c756;
      border: none;
      border-radius: 0%;
      padding:10px 20px 10px 20px;
}

.btn_wpp:hover{
      background-color: #39A346;
}

.formulary{
      width: 30%;
      height: 80%;
      background-color: rgba(18, 54, 90, 0.75);
      margin-bottom: 20px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
}

.formulary form{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 90%;
      height: 90%;
}

.formulary form h4{
      align-self: center;
      text-align: center;
      max-width: 75%;
      font-size: 21px;
}

.small_camp{
      width: 100%;
      height: 27px;
      margin: 15px;
     
}

.big_camp{
      width: 100%;
      align-self: center;
      margin: 15px;
}

.formulary form p{
      font-size: 12px;
      font-weight: bold;
}

.button{
      width: 100%;
      justify-self: flex-start;
}

.enviar{
      background-color: rgb(0, 102, 0);
      border: none;
      padding: 10px 29px 10px 29px;
      color: white;
}

.enviar:hover{
      background-color: #059509;
}

.quem_somos{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color:rgb(23, 52, 92);
}

.quem_somos p{
      text-align: start;
      color: grey;
}